body {
  background: rgba(230, 230, 230, 0.356) !important;
}
.main-favorites {
  background-image: url(../image/404/fon-404.png);
  width: 100%;
  height: 77vh;
  display: grid;
  align-content: center;
  margin-bottom: 18vh;
  background-repeat: no-repeat;
  background-position: center;
}
.main-category_button{
  display: flex;
  align-items: center;
  gap: 2.083vw;
}

.header-box {
  height: 80px;
  position: absolute;
}
.container-fluid {
  height: 100%;
}
.main-favorites_content {
  width: 24.583vw;
  height: 41.4vh;
  display: grid;
  align-items: center;
}
.content-box_title {
  color: rgba(19, 75, 175, 1);
  font-family: "Gilroy", sans-serif;
  font-size: 10.417vw;
  font-weight: 400;
  height: 24vh;
  margin-bottom: 3vh;
}
.content_box_current-text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
  margin-bottom: 2vh;
}
.content_box_text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw;
  font-weight: 500;
  margin-bottom: 3vh;
}

@media (max-width: 48em) {
  .search-box {
    width: 91.467vw;
    height: 7.796vh;
    padding: 14px 20px;
    border: 2px solid rgba(28, 28, 31, 0.2);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10.4vmax;
    right: 4.2vw;
    z-index: 1;
    color: rgba(28, 28, 31, 0.2);
    box-shadow: none;
}
  .search-box {
    position: absolute;
  }
  .main-favorites {
    height: 900px;
    object-fit: contain;
  }
  .main-favorites_content {
    width: 343px;
    height: 350px;
  }
  .content-box_title {
    font-size: 120px;
    height: 140px;
    margin-bottom: 3vh;
  }
  .content_box_current-text {
    font-size: 19px;
    width: 298px;
  }
  .content_box_text {
    width: 217px;
    font-size: 14px;
    margin-bottom: 2vh;
  }
  .main-category_still {
    font-size: 2.7vw;
  }
  .main-category_button {
    gap: 16px;
  }
  .btn-blue {
    width: 50px;
    height: 50px;
  }
  .btn-arrow {
    width: 5.2vw;
    font-size: 7vw;
  }
}
