body {
  background: rgba(230, 230, 230, 0.356) !important;
  perspective: 1000px;
}
.header {
  height: 100hv;
  width: 100%;
}
.container-fluid {
  margin-left: 8.333vw;
  margin-right: 16vh;
  width: 83.333vw !important;
  padding: 0 !important;
  margin: 0 auto;
}
/* Main */
.main {
  margin: 180px 0;
}
/* category */
.main-category {
  margin-bottom: 180px;
}
.main-category_block {
  margin-bottom: 3vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-category_button {
  display: flex;
  align-items: center;
  gap: 1.458vw;
}
.main-category_title {
  font-size: 3.125vw;
  color: rgba(41, 41, 45, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.main-category_still {
  font-size: 0.833vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(41, 41, 45, 1);
  text-transform: uppercase;
  transition: color 0.3s;
  letter-spacing: 0.104vw;
}
.main-category_items {
  display: flex;
  gap: 2.031vw;
  height: 46vh;
}
.category-item_content {
  display: flex;
  gap: 0.781vw;
}
.category-item_description {
  margin-bottom: 4vmin;
}
.category_item {
  width: 20vw;
  height: 46vh;
}
.network {
  width: 14vw;
}
.category-item_numder {
  display: grid;
  align-content: space-between;
}
.item_numder {
  color: rgba(144, 202, 255, 0.14);
  font-size: 1.823vmax;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -1vh;
}
.category-item_title {
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.category-item_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.938vw;
}
/* Продажи */
.main-sales {
  margin-bottom: 180px;
}
.main-sales_items {
  display: flex;
  gap: 2.083vw;
  margin-top: 6vh;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
}
.sales-item_description {
  display: flex;
  justify-content: space-around;
  align-items: start;
  /* margin-right: 1vw; */
  margin-left: -2.2vh;
}
.main-sales_button {
  display: flex;
  gap: 0.833vw;
}
.sales_item {
  flex: 0 0 auto;
  width: 19.271vw;
  /* height: 50.8vh; */
  background: white;
  padding: 2.2vh 0 2.2vh 1.458vw;
  position: relative;
  transition: opacity 0.3s ease;
}
.show {
  opacity: 1;
}
.sales-item_text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw;
  font-weight: 600;
  font-style: normal;
  width: 12vw;
  height: 5vmax;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}
.sales-price {
  margin-top: 2vmax;
  width: 5.156vmax;
  height: 3vmax;
  display: grid;
  align-items: end;
}
.position {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sales {
  width: 16.406vw;
  height: 12vmax;
}
.old-price {
  color: rgba(28, 28, 31, 0.3);
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw; /* 20 */
  font-weight: 500;
  font-style: normal;
  text-decoration: line-through;
}
.price {
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
}
.heart {
  width: 1.3vmax;
  height: 1.2vmax;
  background-image: url("/image/sales/heard-normal.png");
  background-size: cover;
  cursor: pointer;
}
.heart.active {
  background-image: url("/image/sales/heart-active.png");
}

/* about */
.main-about {
  margin-bottom: 180px;
}
.main-about_box-white {
  width: 65.26vw;
  height: 100%;
  /* height: 64.6vh; */
  background: rgba(255, 255, 255, 1);
}
.main-about_box {
  display: flex;
}
.box-white_content {
  margin-top: 15vh;
  margin-left: 8.333vw;
  margin-bottom: 14.4vh;
  /* width: 30vw;
  height: 35.2vh; */
  box-sizing: border-box;
}
.box-white_button {
  display: flex;
  align-items: center;
  gap: 1.458vw;
  margin-top: 4.5vh;
  width: 12.5vw;
}
.box-white_title {
  font-family: "Gilroy", sans-serif;
  font-size: 3.125vw;
  font-weight: 400;
  margin-bottom: 2vmax;
  /* width: 30vw; */
}
.box-white_text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw; /* 20 */
  font-weight: 500;
  width: 29vw;
  line-height: 1.8vw;
  margin-bottom: 2vmax;
}
.main-about_box-blue {
  width: 34.792vw;
  background: rgba(19, 75, 175, 1);
  display: grid;
  justify-content: center;
}
.box-blue_text {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
  font-size: 14.271vw;
  font-weight: 900;
  color: rgba(144, 202, 255, 0.14);
  line-height: 12vw;
  text-transform: uppercase;
  width: 39.323vw;
  text-align: left;
  margin-left: -20vw;
  margin-top: 5vh;
}
.text-first {
  text-align: left;
}
.text-second {
  text-align: right;
  margin-top: 0;
}
.termenal {
  width: 35.417vw;
  z-index: 2;
  margin-left: -31vw;
  margin-top: -20vmax;
}
/* advantages */
.main-advantages_title {
  margin-bottom: 6vh;
  font-size: 3.125vw;
  color: rgba(41, 41, 45, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-advantages_items {
  display: flex;
  gap: 2.083vw;
}
.main-advantages_item {
  background: rgba(255, 255, 255, 1);
  width: 26.406vw;
  /* height: 40vh; */
  overflow: hidden;
}
.advantages-item_number {
  display: flex;
  /* align-items: end; */
  /* justify-content: space-between; */
  width: 26vw;
  height: 10vmax;
  margin-top: -5.6vmax;
  margin-left: 0.521vw;
}
.item_number {
  color: rgba(144, 202, 255, 0.14);
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 10.677vw;
  /* margin-top: -5.6vmax; */
}
.content_box {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.667vw;
  display: flex;
  gap: 1.198vw;
  margin-left: 4.167vw;
  margin-bottom: 2.6vh;
  width: 13.438vw;
}
.advantages-item_content {
  /* height: 35vh; */
  margin-bottom: 2vmax;
  margin-top: 4vmax;
}
.content_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  margin-left: 7.3vw;
  width: 15vw;
  /* height: 20.3vh; */
  padding-bottom: 30px;
}

#wrapD3Cube {
  width: 24px;
  height: 24px;
  margin: 11vh auto;
  float: right;
  perspective: 1000px;
  display: block;
}
#D3Cube {
  width: 24px;
  height: 24px;
  transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  transition: all 0.5s ease-in-out;
}
@keyframes cubeRotation {
  0% {
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}
#D3Cube.no-animation {
  animation: none;
}
.main-advantages_item.active #D3Cube {
  animation: cubeRotation 1s forwards;
}
.main-advantages_item.active {
  background: rgba(19, 75, 175, 1);
}
#D3Cube > div {
  position: absolute;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border: 1px solid #111;
}
#side1 {
  transform: rotateX(90deg) translateZ(12px);
}
#side2 {
  transform: rotateY(-90deg) translateZ(12px);
}
#side3 {
  transform: translateZ(12px);
}
#side4 {
  transform: rotateY(90deg) translateZ(12px);
}
#side5 {
  transform: rotateY(180deg) translateZ(12px);
}
#side6 {
  transform: rotateX(-90deg) translateZ(12px);
}

/* services */
.main-services{
  margin: 18vh 0;
  display: flex;
  gap: 2.083vw;
}
.main-services_content{
  margin-right: 8.333vw;
  width: 54.844vw;
}
.services{
  width: 34.74vw;
  height: 38vmax;
}
.item-box{
  display: flex;
}
.services-content_title{
  display: flex;
  justify-content: space-between;
  margin-top: 5.3vh;
  margin-bottom: 6.5vh;
}
.services-content_items{
  display: grid;
  gap: 2.6vmax;
}
.services-content_item{
  display: flex;
  justify-content: space-between;
  height: 3vmax;
}
.services_title{
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 3.125vw;
}
.services_text{
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  width: 32.448vw;
  text-align: right;
  display: grid;
  align-items: center;
}
.item-box{
  display: flex;
  align-items: center;
}
.item_title{
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 1.25vw;
  margin-left: -1.8vw;
}
.services_numder{
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 3.4vmax;
  color: rgba(144, 202, 255, 0.14);
  width: 7.083vw;
}




/* project */
.main-project {
  margin: 180px 0;
}
.blue-text_second {
  text-align: right;
}
.blue-text_first {
  text-align: right;
}
.box-blue_content {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
  font-size: 11.458vw;
  font-weight: 900;
  color: rgba(144, 202, 255, 0.14);
  line-height: 10vw;
  text-transform: uppercase;
  width: 58vw;
  height: 20vmax;
  text-align: right;
  margin-left: -25vw;
  margin-top: 5vh;
}
.equipment {
  width: 24vw;
  margin-left: -11vw;
  margin-top: -20vmax;
  z-index: 2;
}
.project-box_content {
  margin-top: 15vh;
  margin-left: 8.333vw;
  margin-bottom: 14.4vh;
  /* width: 30vw;
  height: 35.2vh; */
  box-sizing: border-box;
}
.box-agreement {
  display: flex;
  align-items: center;
  gap: 0.833vw;
}
.form {
  width: 40.625vw;
}
.form-agreement_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vh;
}
.form-content_box {
  display: flex;
  gap: 2.083vw;
  position: relative;
}
.form-content {
  display: grid;
  gap: 2.083vw;
}
.box-agreement_text {
  width: 13.385vw;
  font-size: 0.729vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  line-height: 1.2vmax;
  color: rgba(41, 41, 45, 1);
}
.box_button {
  display: flex;
  gap: 1.458vw;
  align-items: center;
}

/* input */
.form-input {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: rgba(136, 140, 142, 1);
  border: 2px solid rgba(28, 28, 31, 0.2);
  width: 19.167vw;
  height: 3.5vmax;
  padding: 2.2vh 1.667vw 2.2vh 1.667vw;
  transition: border-color 0.3s, color 0.3s;
  box-sizing: border-box;
  font-size: 1vw;
  position: relative;
}
.form-input::placeholder {
  color: rgba(136, 140, 142, 1);
  font-weight: 500;
  font-size: 1vw;
  transition: transform 0.3s, font-size 0.3s;
}

/* input-checkbox */
.box-agreement input[type="checkbox"] {
  width: 1vmax;
  height: 1vmax;
  border: 2px solid rgba(28, 28, 31, 0.2);
  appearance: none;
  background-color: white;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
}
.box-agreement input[type="checkbox"]:hover {
  border-color: rgba(28, 28, 31, 0.5);
}
.box-agreement input[type="checkbox"]:focus {
  border-color: rgba(28, 28, 31, 0.5);
}
.box-agreement input[type="checkbox"]:checked {
  background-color: white;
  border-color: rgba(19, 75, 175, 1);
}
.box-agreement input[type="checkbox"]:checked::before {
  content: "\2714";
  color: rgba(19, 75, 175, 1);
  font-size: 0.521vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
}

/* input-placeholder */
.form-input:focus::placeholder,
.form-input:not(:placeholder-shown)::placeholder {
  transform: translateY(-2.3vh);
  font-size: 0.729vw;
  color: rgba(28, 28, 31, 0.5);
}
.form-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
  color: black;
  outline: none;
}

/* input-error */
.form-input.error {
  border-color: rgba(41, 41, 45, 1);
}
.error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  color: rgba(233, 29, 29, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem; /* 13px */
  margin-left: 32px;
  margin-top: 0px;
  display: none;
}
.form-input.error + .error-message {
  display: block;
}
/* specialoffers*/
.main-specialoffers {
  margin: 180px 0;
}
/* projects */
.main-projects_box {
  display: flex;
  gap: 1.667vw;
  align-items: center;
}
.main-projects_text p {
  margin-bottom: 0;
}
.main-projects_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.6vmax;
}
.projects-border {
  border: 2px solid rgba(19, 75, 175, 1);
  padding: 8px 14px 8px 14px;
  height: 1.6vmax;
  display: grid;
  align-content: center;
}
.projects-border_text {
  text-align: center;
  color: rgba(19, 75, 175, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 0.729vmax;
  /* width: 4.688vw; */
}
.main-projects_white {
  width: 40.625vw;
  background: white;
  padding: 1.667vw;
}
.main-projects_image {
  display: flex;
  justify-content: space-between;
  /* width: 37.292vw; */
  /* height: 20vmax; */
}
.projects_image {
  width: 20vmax;
  height: 10vmax;
}
.projects-content_number {
  color: rgba(144, 202, 255, 0.14);
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 6.375vw;
  height: 7vmax;
}
.projects-content_box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.projects-content_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.667vw;
  margin-bottom: 0.881vmax;
  color: rgba(41, 41, 45, 1);
}
.projects-content_text {
  width: 28.229vw;
  height: 9.5vmax;
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: rgba(41, 41, 45, 1);
}
.main-projects_content {
  margin-top: 3vmax;
}
/* .projects_image{
  width: 18.229vw;
  height: 20vh;
} */
.main-projects_box-white {
  display: flex;
  gap: 2.083vw;
}

/* client */
.main-client {
  margin: 180px 0;
  perspective: 1000px;
}
.main-client_items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  gap: 2.083vw;
}
.main-client_item {
  position: relative;
  width: 19.271vw;
  height: 16vmax;
  background: rgba(255, 255, 255, 1);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
}
.main-client_item.active {
  transform: rotateY(180deg);
  background-color: rgba(19, 75, 175, 1);
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front {
  z-index: 2;
  backface-visibility: hidden;
}
.back {
  padding: 2vmax 1.927vw;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: grid;
  justify-items: center;
}
.main-client_item.active .back {
  opacity: 1;
}
.front .rostec {
  width: 6.551vw;
  /* height: 2.638vmax; */
  display: block;
  transition: opacity 0.5s ease-in-out;
}
.front .roctel {
  width: 13.438vw;
  display: block;
  transition: opacity 0.5s ease-in-out;
}
.front .mechel {
  width: 12.396vw;
  display: block;
  transition: opacity 0.5s ease-in-out;
}
.group {
  width: 9.614vw;
  display: block;
  transition: opacity 0.5s ease-in-out;
}
.main-client_item.active .front .client-logo {
  opacity: 0;
}
.rostec-small {
  width: 4vw;
  height: 4vmax;
  margin-bottom: 1vmax;
}
.roctel-small {
  width: 10.625vw;
  height: 2.5vmax;
}
.mechel-small {
  width: 10.625vw;
  height: 2.5vmax;
}
.group-small {
  width: 7vw;
  height: 2.7vmax;
}
.text {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* footer */
.footer {
  margin-bottom: 3.7vh;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vmax;
}
.footer-content_logo {
  display: flex;
  justify-content: space-between;
  width: 37.604vw;
  /* height: 16.344vh; */
}
.footer-content_contacts {
  display: flex;
  justify-content: space-between;
  width: 33.49vw;
}
.footer-content_items {
  display: grid;
  /* gap: 0.1vmax; */
  height: 7vmax;
}
.footer-content_item {
  text-decoration: none;
  color: rgba(41, 41, 45, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  height: 1.5vmax;
}
.FL_logo {
  width: 9.531vw;
  height: 3vmax;
  margin-bottom: 3.5vh;
}
.footer-content_mail {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  margin-bottom: 1.4vmax;
}
.footer-content_tel {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
}
.footer-content_end {
  margin-top: 8vh;
}
.network {
  width: 12.708vmax;
  /* height: 5.2vh; */
}
.footer-content_end {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}
.footer-content_agreement {
  display: flex;
  justify-content: space-between;
  width: 52vmax;
  align-items: end;
}
.footer-content_agreement p {
  margin-bottom: 0;
}
.footer-content_text{
  color: rgba(48, 48, 48, 0.5);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.729vw;
}
.footer-content_agency{
  display: grid;
  align-items: center;
}
.request {
  width: 9vmax;
  height: 1.7vmax;
}












/* Button */
.btn-blue {
  background: rgba(19, 75, 175, 1);
  width: 3vmax;
  height: 3vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s;
}
.btn-gray {
  background: rgba(233, 233, 233, 1);
  width: 3vmax;
  height: 3vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-gray:hover {
  background: rgba(19, 75, 175, 1);
  .btn-gray-arrow {
    color: white;
  }
}
.btn-blue:focus {
  border: none;
}
.btn-blue:hover {
  background: #0056b3;
}
.btn-arrow {
  font-size: 1.3vmax;
  color: white;
  transition: transform 0.3s;
}
.btn-blue:hover .btn-arrow {
  transform: translateX(5px);
}
.btn-blue.prev:hover .btn-arrow {
  transform: translateX(-5px);
}
.btn-blue.next:hover .btn-arrow {
  transform: translateX(5px);
}
.btn-gray-arrow {
  font-size: 1.3vmax;
  color: black;
}
.basket-button {
  width: 0.9vmax;
  height: 0.9vmax;
  background-image: url("/image/sales/basket-normal.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-blue-basket {
  background: rgba(19, 75, 175, 1);
  border: 2px solid rgba(19, 75, 175, 1);
  width: 3vmax;
  height: 3vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn-blue-basket.active {
  background-color: white;
  border: 2px solid rgba(19, 75, 175, 1);
}
.btn-blue-basket.active .basket-button {
  background-image: url("/image/sales/basket-active.png");
}
.btn-blue:disabled {
  background: rgba(233, 233, 233, 1);
  cursor: not-allowed;
  pointer-events: none;
}
.btn-blue:disabled:hover {
  background: rgba(233, 233, 233, 1);
}
