body {
  background: rgba(230, 230, 230, 0.356) !important;
}
.container-fluid {
  margin-left: 8.333vw;
  margin-right: 16vh;
  width: 83.333vw !important;
  padding: 0 !important;
  margin: 0 auto;
}
/* main - way */
.main-way {
  margin-top: 2.5vmax;
}
.main-way_links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
.main-way_square {
  width: 5px;
  height: 5px;
  background-color: black;
}
.main-link {
  text-decoration: none;
  color: rgba(41, 41, 45, 1);
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.link-active {
  color: rgba(19, 75, 175, 1);
}
.main-catalog_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 3.125vw;
  margin-bottom: 3vmax;
  margin-top: 0.5vmax;
  color: rgba(41, 41, 45, 1);
}
.main-catalog_content {
  display: flex;
  justify-content: space-between;
  gap: 2.083vw;
}
.content-categories {
  width: 19.271vw;
}
.content-products {
  width: 61.979vw;
  /* height: 2076px; */
}
.main-categories {
  margin-bottom: 6vh;
}
.main-categories_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.brands-content_box {
  display: none;
}

.categories_title {
  font-size: 1.667vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}
.main-categories_content {
  display: grid;
  gap: 1.6vh;
  margin-top: 3.2vh;
  padding: 0;
}
.catagories-box_element {
  background-color: rgba(19, 75, 175, 1);
  width: 0.26vw;
  height: 0.5vh;
  display: none;
}
.catagories-box_text {
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: rgba(41, 41, 45, 1);
  text-decoration: none;
}
.catagories-box {
  display: flex;
  align-items: center;
  gap: 1.2vh;
}
.box-active {
  display: grid;
}
.active {
  color: rgba(19, 75, 175, 1);
}
.main-categories_price {
  margin: 3.2vh 0 6vh 0;
}
.categories-price_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.25vw;
  color: rgba(41, 41, 45, 1);
}
.price-input {
  width: 100%;
  display: flex;
  margin: 1.042vw 0;
  height: 57px;
  gap: 2vh;
  justify-content: space-between;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 5.7vh;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  /* margin-left: 12px; */
  /* padding: 16px 38px; */
  border-radius: 1px;
  text-align: center;
  border: 1px solid rgba(28, 28, 31, 0.2);
  -moz-appearance: textfield;
  background: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 0.677vw;
  display: flex;
  font-size: 0.833vw;
  align-items: center;
  justify-content: center;
  color: rgba(136, 140, 142, 1);
}
.input-max::placeholder {
  color: rgba(41, 41, 45, 1);
}
.slider {
  height: 4px;
  position: relative;
  background: rgba(233, 233, 233, 1);
  border-radius: 4px;
}
.slider .progress {
  height: 100%;
  left: 0;
  right: 25%;
  position: absolute;
  border-radius: 4px;
  background: rgba(19, 75, 175, 1);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 3px solid rgba(19, 75, 175, 1);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background: white;
  border: 3px solid rgba(19, 75, 175, 1);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.main-categories_brands {
  margin-bottom: 2vmax;
}
.box-agreement {
  display: flex;
  align-items: center;
  gap: 1.6vh;
}
.box-agreement_text {
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.2vmax;
  color: rgba(41, 41, 45, 1);
}
.brands-content {
  margin-top: 2vh;
  display: grid;
  gap: 16px;
}
/* input-checkbox */
.checkbox-input {
  width: 26px;
  height: 26px;
  border: 2px solid rgba(28, 28, 31, 0.2);
  appearance: none;
  background-color: none;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 600ms;
  border-radius: 0;
}
.checkbox-input:hover {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:checked {
  background-color: white;
  border-color: rgba(19, 75, 175, 1);
}
.checkbox-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  font-size: 0.633vw;
  transition: 500ms;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0,256,256' width='24px' height='24px' fill-rule='nonzero'%3e%3cg fill='%23134baf' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3e%3cg transform='scale(10.66667,10.66667)'%3e%3cpath d='M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
.checkbox-input:checked::after {
  width: 26px;
  height: 26px;
  transition: 500ms;
}
.checkbox-input:disabled {
  background: #ccc;
  border-color: #ccc;
}
.checkbox-input:disabled::after {
  filter: grayscale(100%);
}
.btn_border {
  width: 4.896vw;
  height: 26px;
  border-bottom: 2px solid rgba(41, 41, 45, 1);
  margin-top: 60px;
}
.btn_border:hover {
  border-bottom: 2px solid rgba(19, 75, 175, 1);
  transition: border 0.5s ease-in-out;
  .main-btn_clear {
    color: rgba(19, 75, 175, 1);
    transition: 600ms;
  }
}
.main-btn_clear {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 0.833vw;
  text-transform: uppercase;
  /* width: 100%; */
  height: 20px;
  color: rgba(41, 41, 45, 1);
  letter-spacing: 1.5px;
  border: none;
  background: none;
  padding: 0 0;
}
.broducts-btn_border {
  height: 26px;
  border-bottom: 2px solid rgba(41, 41, 45, 1);
  margin-top: 3.2vh;
  margin-bottom: 4vh;
  display: grid;
  justify-self: center;
}
.broducts-btn_clear {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 0.833vw;
  text-transform: uppercase;
  /* width: 100%; */
  height: 20px;
  color: rgba(41, 41, 45, 1);
  letter-spacing: 1.5px;
  border: none;
  background: none;
  padding: 0 0;
}
.broducts-btn_border:hover {
  border-color: rgba(19, 75, 175, 1);
  transition: 600ms;
  .broducts-btn_clear {
    color: rgba(19, 75, 175, 1);
    transition: 600ms;
  }
}
.main-content {
  margin: 18vh 0;
  display: flex;
  justify-content: space-between;
}
.definition_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 3.125vw;
  margin-bottom: 2vh;
  line-height: 60px;
}
.definition_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
}
.main-content_definition {
  width: 40.729vw;
}
.main-content_achievement {
  width: 33.49vw;
}
.achievement-box_white {
  width: 33.49vw;
  background-color: white;
  padding: 2.3vw 2.084vw;
}
.achievement-box_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.667vw;
}
.achievement-box_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: rgba(41, 41, 45, 1);
  margin-top: 4vh;
  width: 26.979vw;
  font-size: 0.938vw;
}
.achievement-box_information {
  display: flex;
  margin-top: 4vh;
  justify-content: space-between;
  width: 25.313vw;
}
.information_numder {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: rgba(19, 75, 175, 1);
  font-size: 3.125vw;
  text-align: center;
}
.information_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
}
.achievement_image {
  width: 33.49vw;
}
.content-point_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  color: rgba(41, 41, 45, 1);
}
.main-content_sorting {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 52px; */
  padding: 1.1vh 1.615vw 1.1vh 1.615vw;
  gap: 0.833vw;
  border: none;
  background-color: white;
}
.categories_element {
  width: 0.833vw;
  height: 0.833vw;
}
.sorting_text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  color: rgba(41, 41, 45, 1);
}
.content-points {
  display: flex;
  gap: 2.083vw;
}
.content-point {
  display: flex;
  align-items: center;
  gap: 0.521vw;
  height: 2.8vh;
}
.main-content_points {
  display: flex;
  gap: 40px;
  margin: 2.083vw 0;
}
.content-points_clear {
  border: none;
  background: none;
  color: rgba(19, 75, 175, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 1.042vw;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 2.8vh;
}
.dropdown {
  width: 14.5vmax;
}
.dropdown-item {
  --bs-dropdown-link-hover-bg:none;
  /* width: 10.4vw !important; */
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  padding: 0 !important;
}
.dropdown-item:hover{
  background-color: none;
}
.item-active {
  color: rgba(19, 75, 175, 1) !important;
}
.dropdown-menu.show {
  display: grid !important;
  gap: 0.625vw !important;
  margin-top: 4px !important;
}
.dropdown-menu {
  width: 100%;
  display: none;
  padding: 1.6vh 1.615vw 1.6vh 1.146vw !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.087);
}
.trashcan {
  width: 1.25vw;
  height: 2.4vh;
}
.cross {
  width: 0.833vw;
  height: 1.6vh;
  cursor: pointer;
}
.main-products_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.667vw;
}
.main-products_item {
  width: 14.219vw;
  height: 20.2vmax;
  background-color: white;
  padding: 1.146vw;
  position: relative;
  display: grid;
  justify-content: space-between;
  align-items: start;
}
.sales-item_text {
  font-family: "Gilroy", sans-serif;
  font-size: 0.938vw;
  font-weight: 400;
  font-style: normal;
  width: 11vw;
  height: 5vmax;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  line-clamp: 3 !important;
  box-orient: vertical !important;
}
.position {
  position: absolute;
  bottom: 0;
  right: 0;
}
.basket-button {
  width: 1.2vmax;
  height: 1.2vmax;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-blue-basket {
  background: rgba(19, 75, 175, 1);
  border: 2px solid rgba(19, 75, 175, 1);
  width: 3.5vmax;
  height: 3.5vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn-blue-basket.active {
  background-color: white;
  border: 2px solid rgba(19, 75, 175, 1);
}
.btn-blue:disabled {
  background: rgba(233, 233, 233, 1);
  cursor: not-allowed;
  pointer-events: none;
}
.btn-blue:disabled:hover {
  background: rgba(233, 233, 233, 1);
}
/* 
.old-price {
  color: rgba(28, 28, 31, 0.3);
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw; 
  font-weight: 500;
  font-style: normal;
  text-decoration: line-through;
} */
.sales {
  width: 100%;
  object-fit: contain;
}
.sales-price {
  width: 105px;
  height: 100%;
  display: grid;
  align-items: end;
}
.price {
  width: 100%;
  height: 34px;
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
  display: grid;
  align-items: end;
}
.heart-block {
  position: absolute;
  bottom: 1.3vw;
  right: 4.85vw;
}
.heart {
  width: 1.42vw;
  height: 1.26vw;
  background-size: cover;
  cursor: pointer;
}
.broducts-more {
  display: grid;
  justify-content: center;
}
.pagination {
  width: 22.708vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end !important;
  /* --bs-pagination-active-bg: none !important; */
  /* --bs-pagination-focus-color:none !important;
  --bs-pagination-focus-bg:none !important;
  --bs-pagination-padding-x:none !important;
  --bs-pagination-color:none !important; */
}
.page-item {
  --bs-pagination-bg: none;
  border: none !important;
  --bs-pagination-color: rgba(41, 41, 45, 1);
  --bs-pagination-border-width: none;
}
.page__dots {
  /* width: 10px !important;
  height: 25px !important; */
  cursor: initial;
}
.page-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  width: 14.167vw;
}
.page-item {
  text-align: center;
  width: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-size: 0.938vw;
  font-weight: 400;
}
.pagination-page_item {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 2.604vw;
  height: 2.604vw;
  background-color: white;
}
.pagination-page_item:hover{
  background-color: rgba(215, 215, 215, 0.286);
}
.pagination-arr {
  width: 1.146vw;
}
.page-link:focus {
  border: none !important;
  color: black;
}
.page-item.active {
  border-bottom: 2px solid rgba(19, 75, 175, 1) !important;
  padding: 0 !important;
  .page-links {
    color: rgba(19, 75, 175, 1) !important;
  }
}
.page-item:hover {
  .page-links {
    color: rgb(70, 117, 199) !important;
  }
}
.page-links {
  z-index: 1 !important;
  color: black !important;
  text-decoration: none;
}
.main-banner {
  display: flex;
}
.main-banner_blue {
  display: flex;
  align-items: center;
  padding: 40px;
  width: 33.854vw;
  height: 9.4vmax;
  background-color: rgba(19, 75, 175, 1);
  position: relative;
}
.banner_titel {
  width: 25.5vw;
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  color: white;
  margin-bottom: 2vh;
}
.banner_text {
  width: 19.115vw;
  font-family: "Gilroy", sans-serif;
  font-size: 0.938vw;
  font-weight: 400;
  color: white;
}
.banner_iamge {
  /* position: absolute; */
  position: relative;
  right: 0;
  width: 20vw;
  height: 15vh;
  object-fit: contain;
  padding: 0;
}
.main-banner_white {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 40px;
  width: 28.125vw;
  height: 9.4vmax;
  background-color: rgba(255, 255, 255, 1);
}
.sorting-content_item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.radio_sorting[type="radio"] {
  accent-color: rgba(19, 75, 175, 1);
  width: 26px;
  height: 26px;
}
.main-category_button{
  display: flex;
  align-items: center;
  gap: 2.083vw;
}
@media (max-width: 48em) {
  .container-fluid {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .main-way {
    margin-top: 34px;
    margin-bottom: 18px;
  }
  .main-content {
    margin: 80px 0;
    display: grid;
  }
  .main-catalog_title {
    font-size: 34px;
    margin-bottom: 40px;
  }
  .broducts-more{
    width: 91vw;
  }
  /* catalog */
  .categories_title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .main-categories_title {
    font-size: 9.067vw;
    /* margin-bottom: 40px; */
    justify-content: left;
    gap: 2.133vw;
  }
  .main-categories {
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.5s ease-in-out; /*  Добавляем  transition  для  плавного  перехода  */
  }
  .main-categories.active {
    transform: translateX(0); /*  Перемещаем  меню  в  начало  */
  }
  .box-white {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 15;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    height: 100vh;
    width: 100vw;
  }
  .main-categories_box {
    background-color: rgba(230, 230, 230, 0.356);
    /* padding: 1.25rem 1rem 0 1rem; */
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  }

  .box-white.active {
    transform: translateX(0);
    display: block; /*  Отображаем  меню  при  активации  */
  }
  .categories-box_button {
    padding: 1.25rem 1rem 0 1rem;
    margin-bottom: 4.658vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box_button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .points-clear_text {
    font-size: 12px;
    font-weight: 600;
  }
  .trashcan {
    width: 20px;
  }
  .back-arrow,
  .back-arrows {
    width: 40px;
    height: 40px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .categories-box_title {
    font-size: 16px;
    font-weight: 500;
    font-family: "Gilroy", sans-serif;
    color: rgba(41, 41, 45, 1);
  }
  .main-categories_content{
    padding: 0 16px 43px 16px;
  }
  .main-categories_content ul {
    list-style: none;
    padding: 0;
  }
  .catagories-box {
    margin-bottom: 1rem;
  }
  .catagories-box_element {
    width: 10px;
    height: 10px;
    background-color: #29292d;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  .catagories-box_text {
    text-decoration: none;
    color: #29292d;
    font-size: 1rem;
  }

  /* filter */
  .categories_content {
    padding: 0 1rem 0 1rem;
  }
  .categories-price_title {
    font-weight: 700;
    font-size: 19px;
  }
  .sorting_content {
    margin-top: 2vh;
    display: grid;
    gap: 19px;
    align-items: center;
  }
  .btn-apply_box {
    background-color: white;
    height: 59px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .btn_apply {
    text-align: center;
    height: 23px;
    width: 96px;
    padding: 0;
    border: none;
    background: none;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #29292d;
    color: rgba(41, 41, 45, 1);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .btn-apply_box:hover {
    .btn_apply {
      border-bottom: 2px solid rgba(19, 75, 175, 1);
      transition: border 0.5s ease-in-out;
      color: rgba(19, 75, 175, 1);
    }
  }

  .main-categories_brands {
    margin-top: 32px;
  }
  .brands-content_box {
    margin-top: 2vh;
    display: grid;
    gap: 16px;
  }
  .box-agreement_text {
    font-size: 14px;
  }
  .radio-sorting_text {
    color: rgba(41, 41, 45, 1);
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
  }
  .price-input {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 44px;
  }
  .field {
    height: 44px !important;
  }
  .field input {
    font-size: 14px;
  }
  .input-min {
    height: 100%;
  }
  .price-input {
    align-items: center;
  }
  .separator {
    font-size: 16px !important;
    width: 13px !important;
    height: 19px !important;
  }
  /* products */
  .main-content_definition {
    width: 100%;
    margin-bottom: 32px;
  }
  .definition_title {
    font-size: 34px;
    line-height: 34px;
  }
  .definition_text {
    font-size: 16px;
  }
  .main-content_achievement {
    width: 100%;
  }
  .achievement-box_white {
    width: 100%;
    padding: 20px 14px;
  }
  .achievement-box_title {
    font-size: 24px;
  }
  .achievement-box_text {
    font-size: 14px;
    width: 315px;
    margin-top: 20px;
  }
  .achievement-box_information {
    width: 100%;
    margin-top: 40px;
  }
  .information_numder {
    font-size: 34px;
  }
  .information_text {
    font-size: 16px;
  }
  .achievement_image {
    width: 100%;
    height: 293px;
    object-fit: cover;
  }

  .sales-price {
    width: 74px;
    height: 40px;
  }
  .price {
    font-size: 18px;
    width: 74px;
    height: 25px;
  }
  .main-catalog_content {
    display: grid;
    width: 91.467vw;
  }
  .content-categories {
    display: flex;
    justify-content: space-between;
    width: 91.467vw;
  }
  .content-products {
    width: 343px;
  }
  .main-products_items {
    gap: 2.667vw !important;
    width: 91.467vw !important;
  }
  .main-products_item {
    width: 44.35vw !important;
    height: 228px !important;
    padding: 12px !important;
  }
  .main-banner_blue {
    display: grid;
    width: 91.467vw ;
    height: 100%;
    padding: 20px 17px;
    justify-items: center;
  }
  .banner_titel {
    font-size: 19px;
    width: 100%;
    line-height: 22.8px;
    margin-bottom: 24px;
  }
  .banner_text {
    font-size: 14px;
    width: 297px;
  }
  .banner_iamge {
    width: 280px;
    height: 111px;
  }
  .main-banner_white {
    height: 90px;
    width: 91.467vw;
    justify-content: left;
    padding: 20px 16px;
  }
  .main-category_still {
    font-size: 14px;
  }
  .main-category_button {
    gap: 16px;
  }
  .sales-item_text {
    order: 2;
    font-size: 13px;
    width: 143px !important;
    height: 55px !important;
  }
  .sales {
    order: 1;
    width: 143px;
  }
  .sales-price {
    order: 3;
    width: 82px;
    height: 100%;
    font-size: 16px;
  }
  .btn-blue-basket {
    width: 50px;
    height: 50px;
  }
  .basket-button {
    width: 18px;
    height: 18px;
  }
  .btn-blue {
    width: 50px;
    height: 50px;
  }
  .btn-arrow {
    width: 5.2vw;
    font-size: 18px;
  }
  .price {
    width: 100%;
  }
  .heart {
    width: 20px;
    height: 18px;
  }
  .heart-block {
    top: 10px;
    right: 16px;
  }
  .main-banner {
    display: grid;
    width: 100%;
  }
  .broducts-btn_border {
    margin-top: 32px;
    margin-bottom: 38px;
  }

  .broducts-btn_clear {
    font-size: 14px;
  }
  .pagination {
    width: 91.467vw;
    height: 40px;
  }
  .pagination-page_item {
    width: 40px;
    height: 40px;
  }
  .page-items {
    width: 215px;
    height: 17px;
  }
  .page-item {
    width: 10px;
    font-size: 13px;
  }
  .pagination-arr {
    width: 24px;
    height: 24px;
  }

  .footer_model {
    display: none;
  }
}
