@media (min-width: 379px) {
  .swiper-container {
    overflow: hidden;
  }
}
@media (max-width: 378px) {
  .container-fluid {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .main {
    overflow: hidden;
  }
  .swiper-container {
    display: flex;
    flex-direction: column; 
    height: 100%;
  }
  .swiper-wrapper {
    display: flex;
    gap: 0;
    transition: transform 0.5s ease;
  }
  .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .main-category_still {
    font-size: 2.7vw;
  }
  .box-white_button {
    width: 50vw;
    gap: 4.267vw;
  }
  .btn-blue {
    width: 12vw;
    height: 12vmin;
  }
  .btn-arrow {
    font-size: 3.8vw;
  }
  .main-category_button {
    gap: 4.267vw;
  }
  .swiper-pagination-progressbar{
    display: flex;
    width: 91.467vw;
    height: 0.2vh;
    background-color: rgba(28, 28, 31, 0.2) !important;
    margin-top: 3.148vh;
  }
  .swiper-pagination-progressbar-fill{
    height: 0.2vh;
    background-color: rgba(19, 75, 175, 1);
    width: 100%;
    transition: width 0.5s ease;
    transform-origin: left;
  }
  .main-category_title{
    font-size: 9.067vw;
  }
  /* about */
  .box-white_content {
    margin: 11.994vh 4.267vw;
  }
  .termenal{
    width: 84vw;
    margin-left: 0;
    margin-top: -35vmax;
  }
  .box-blue_text{
    font-size: 36.267vw;
    margin-left: 0;
    width: 99.2vw;
    line-height: 23vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  .main-about_box-blue{
    justify-items: center;
  }
 
  /* advantages */
  .main-advantages_title {
    font-size: 9.067vw;
    margin-bottom: 5.997vh;
  }
  /* services */
  .main-services {
    display: grid;
  }
  .services {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    overflow: hidden;
  }
  .services-content_title {
    display: grid;
    gap: 2.999vh;
    padding: 0 4.267vw;
    margin-bottom: 4.798vh;
  }
  .services_title {
    font-size: 9.067vw;
  }
  .services_text {
    font-size: 3.733vw;
    width: 91.467vw;
    text-align: left;
    color: rgba(41, 41, 45, 1);
  }
  .main-services_content {
    margin: 0;
    margin-top: 4.798vh;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    margin-right: 0;
    width: 91.467vw;
  }
  .item-box {
    display: grid;
  }
  .item_title {
    width: 75.467vw;
    font-size: 5.067vw;
    margin-left: 0;
    line-height: 4vh;
    height: 100%;
  }
  .services-content_item {
    width: 91.467vw;
    height: 100%;
    align-items: end;
  }
  .services-content_items {
    height: 100%;
  }
  .services_numder {
    margin-bottom: -8vh;
    font-size: 16.533vw;
    width: 100%;
  }
  .btn-gray {
    width: 12vw;
    height: 12vmin;
  }
  .btn-gray-arrow {
    font-size: 4.3vw;
  }

  /* project */
  .main-about_box {
    display: grid;
  }
  .form-content_box {
    display: grid;
  }
  .main-about_box-white {
    width: 100%;
  }
  .main-about_box-blue {
    width: 100%;
    height: 100%;
  }
  .form-input {
    width: 100%;
    height: 7.496vh;
    font-size: 3vw;
    padding: 2.099vh 0 2.099vh 4vw;
  }
  .form-input::placeholder {
    font-size: 3vw;
  }
  .form-input:focus::placeholder,
  .form-input:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .project-box_content {
    margin: 2.399vh;
  }
  .box-white_title {
    font-size: 9.067vw;
    margin-bottom: 2.999vh;
  }
  .box-white_text {
    font-size: 4.267vw;
    width: 91.467vw;
    line-height: 6vw;
  }
  .form {
    width: 100%;
  }
  .form-input_comment {
    height: 18.591vh;
  }
  .form-control {
    border-radius: 0 !important;
    border: 2px solid rgba(28, 28, 31, 0.2) !important;
    padding: 2.099vh 0 2.099vh 4vw !important;
    font-size: 3vw !important;
    font-family: "Gilroy", sans-serif !important;
    font-weight: 500 !important;
    color: rgba(136, 140, 142, 1) !important;
  }
  .form-control:focus {
    border-color: rgba(28, 28, 31, 0.5) !important;
    color: black !important;
    outline: none;
    box-shadow: none !important;
    font-size: 0;
  }
  .form-control::placeholder {
    transition: transform 0.3s, font-size 0.3s;
  }
  .form-control:focus::placeholder,
  .form-control:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .form-agreement_button {
    display: grid;
    gap: 2.999vh;
  }
  .box-agreement_text {
    font-size: 3.467vw;
    width: 64.533vw;
    line-height: 3.5vmax;
  }
  .box-agreement {
    gap: 4.267vw;
  }
  .box-agreement input[type="checkbox"] {
    width: 5vmax;
    height: 5vmax;
  }
  .equipment {
    margin-left: 0;
    margin-top: -23vmax;
    width: 63.467vw;
    display: grid;
    justify-self: center;
    margin-bottom: 2vh;
  }
  .box-blue_content {
    font-size: 20.571vw;
    width: 100vw;
    height: 100%;
    margin-left: 0vh;
    line-height: 18vw;
  }

  /* projects */
  .main-projects {
    .main-category_title {
      font-size: 9.067vw;
    }
    .main-projects_box {
      display: grid;
      margin-bottom: 2.999vh;
    }
    .main-category_block {
      display: grid;
      margin:0;
    }
    .main-projects_text {
      font-size: 3.733vw;
      width: 77.6vw;
      line-height: 3vh;
    }
    .main-projects_text p {
      margin-top: 0;
    }

    .main-projects_white {
      width: 91.467vw;
      height: 100%;
      padding: 2.099vh 3.733vw 2.999vh 3.733vw;
      overflow: hidden;
      position: relative;
    }
    .main-projects_image {
      display: grid;
      justify-content: start;
      height: auto;
      width: 84vw;
    }
    .projects_image {
      width: 84vw;
      height: auto;
    }
    .projects-border {
      margin-bottom: 2.399vh;
      width: 26vw;
      height: 6vh;
      padding: 0 3.733vw;
    }
    .projects-border_text {
      font-size: 3.2vw;
    }
    .projects-content_title {
      font-size: 6.2vw;
      line-height: 4vh;
    }
    .projects-content_text {
      font-size: 4.267vw;
      width: 84vw;
      height: 100%;
      margin-top: 2.099vh;
    }
    .projects-content_number {
      width: 37.6vw;
      height: 22.789vh;
      font-size: 32.64vw;
      position: absolute;
      right: 1vw;
      bottom: -2vh;
    }
  }
  /* client */
  .main-client {
    margin: 8vh 0;

    .main-category_title {
      font-size: 9.067vw;
    }
    /* .progress-baro {
      display: flex;
      width: 100%;
      height: 0.2vh;
      background-color: rgba(28, 28, 31, 0.2) !important;
      margin-top: 3.148vh;
    }
    .progress-indicators {
      height: 0.2vh;
      background-color: rgba(19, 75, 175, 1);
      width: 32.2vw;
      transition: width 0.5s ease;
    } */
    .main-client_item {
      width: 91.467vw;
      height: 47.076vh;
    }
    .rostec {
      width: 31vw;
    }
    .roctel {
      width: 58vw;
    }
    .mechel {
      width: 48vw;
    }
    .group {
      width: 48vw;
    }
    .roctel-small {
      width: 31vw;
      height: 5vmax;
    }
    .rostec-small {
      width: 20vw;
      height: 15vh;
      margin-bottom: 0;
    }
    .roctel-small {
      width: 46vw;
      height: 9vh;
    }
    .mechel-small {
      width: 42vw;
      height: 8vh;
    }
    .group-small {
      width: 38vw;
      height: 10vh;
    }
    .text {
      font-size: 4.267vw;
    }
  }
  /* footer */
  .footer {
    margin-bottom: 15vh;
    .footer-content {
      display: grid;
      width: 91.467vw;
    }
    .footer-content_logo {
      display: grid;
    }
    .footer-content_contacts {
      display: grid;
      width: 48.267vw;
    }
    .footer-content_end {
      display: grid;
      gap: 2.2vmin;
    }
    .footer-content_agreement {
      display: grid;
      gap: 2.2vmin;
      width: 91.467vw;
    }
    .logo_black {
      width: 48.8vw;
      margin-bottom: 3.2vh;
    }
    .footer-content_end {
      margin-top: 4vh;
      margin-bottom: 2vh;
      width: 91.467vw;
    }
    .footer-content_items {
      width: 48.267vw;
      height: 30vh;
    }
    .footer-modal_items {
      height: 20vh;
    }
    .footer-content_item {
      font-size: 4.267vw;
      height: 3.298vh;
    }
    .footer-content_mail {
      font-size: 4.267vw;
      margin-bottom: 4vh;
    }
    .footer-content_tel {
      font-size: 4.267vw;
    }
    .footer-content_text {
      font-size: 3.467vw;
      width: 91.467vw;
      display: grid;
      gap: 0.8vh;
    }
    .footer-content_agency {
      width: 49.067vw;
      margin-top: 2vh;
    }
    .request {
      width: 49.067vw;
      height: 100%;
    }
    .network {
      width: 48vw;
      margin-bottom: 2vh;
    }
  }
  .footer_model {
    display: none;
  }
  .footer_model-open {
    display: grid;
  }
}
