@media (min-width: 425px) {
  .swiper-container {
    overflow: hidden;
  }
  .main-projects_image {
    gap: 2vw;
  }
}
/* @media (min-width: 425px) and (max-width: 500px) {
  .swiper-container {
    overflow: hidden;
  }
  .advantages-item_number {
    margin-top: 0;
    height: 5vh;
  }
  .item_number {
    margin-top: 0;
    height: 5vh;
    margin-left: 1vw;
    font-weight: 700;
  }
} */
@media (max-width: 420px) {
  .container-fluid {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .main {
    overflow: hidden;
  }
  .swiper-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .swiper-wrapper {
    display: flex;
    gap: 0;
    transition: transform 0.5s ease;
    margin-top: 0;
  }
  .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .main-category_still {
    font-size: 2.7vw;
  }
  .box-white_button {
    width: 50vw;
    gap: 4.267vw;
  }
  .btn-blue {
    width: 50px;
    height: 50px;
  }
  .btn-arrow {
    font-size: 3.8vw;
  }
  .main-category_button {
    gap: 4.267vw;
    height: 50px;
  }
  .swiper-pagination-progressbar {
    display: flex;
    width: 91.467vw;
    height: 0.2vh;
    background-color: rgba(28, 28, 31, 0.2) !important;
    margin-top: 3.148vh;
  }
  .swiper-pagination-progressbar-fill {
    height: 0.2vh;
    background-color: rgba(19, 75, 175, 1);
    width: 100%;
    transition: width 0.5s ease;
    transform-origin: left;
  }
  .main-category_title {
    font-size: 9.067vw;
    margin-bottom: 20px;
    height: 34px;
  }
  /* header */
  /* .header-scrolled {
    background-color: #ffffff;
    z-index: 5; 
  }
  .header-scrolled .burger::before,
  .header-scrolled .burger::after { 
    background: #000;
  } */
  .header{
    pointer-events:all;
  }
  .logo_white{
    width: 31.903vw;
    height: 48px;
  }
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 12px auto;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: rgba(19, 75, 175, 1);
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 rgba(19, 75, 175, 1);
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background: rgba(255, 255, 255, 1);
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background: rgba(255, 255, 255, 1);
  }
 
  .burger-box{
    width: 50px;
    height: 50px;
    background: white;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    /* gap: 12px; */
    /* padding: 42px 0; */
    margin: 0;
    background: white;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 100vw;
    height: 100vh;
  }
  .menu-item {
    display: block;
    /* padding: 8px; */
    color: black;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

  /* slide */
  .slide-image {
    width: 100vw;
    height: 100vh;
  }
  .slider {
    width: 100%;
    height: 100vh;
  }
  .slide {
    width: 100%;
    height: 100vh;
  }
  .slider-container {
    max-width: 100%;
    height: 100vh;
    margin-bottom: 80px;
  }
  .progress-bar {
    width: 91.957vw;
    bottom: 20px;
    right: 4.29vw;
  }
  .slide-text {
    width: 91.957vw;
    height: 88px;
    font-size: 4.29vw;
    line-height: 22.4px;
    top: 371px;
    left: 4.29vw;
  }
  .slide_signature {
    width: 61.662vw;
    height: 32px;
    font-size: 3.485vw;
    line-height: 15.77px;
    top: 205px;
    left: 4.29vw;
  }
  .slide_title {
    width: 91.957vw;
    font-size: 9.115vw;
    line-height: 34px;
    top: 249px;
    left: 4.29vw;
  }
  .slide_title-small {
    width: 39.946vw;
    height: 16px;
    font-size: 3.485vw;
    top: 479px;
    left: 4.29vw;
  }
  /* category */
  .main-category {
    margin-bottom: 80px;
  }
  .category_item {
    width: 91.467vw;
    height: 442px;
  }
  .model-title {
    height: 74px;
  }
  .category-item_title {
    font-size: 20px;
  }
  .category-item_text {
    font-size: 14px;
  }
  .category-item_content {
    gap: 3.217vw;
  }
  .item_numder {
    font-size: 25px;
    width: 50px;
    height: 31px;
  }
  .network-soa {
    width: 74.263vw;
    height: 344px;
  }
  /* sales */
  .main-sales {
    margin-bottom: 80px;
  }
  .main-sales_items {
    margin-top: 0;
  }
  .sales_item {
    position: relative;
    width: 91.467vw;
    height: 379px;
    padding: 14px;
  }
  .sales {
    width: 314px;
    height: 198px;
  }
  .price {
    font-size: 18px;
    width: 74px;
    height: 25px;
  }
  .sales-price {
    width: 74px;
    height: 40px;
  }
  .sales-item_description {
    margin-left: 0;
    justify-content: left;
  }
  .sales-item_text {
    font-size: 4.267vw;
    width: 72vw;
    height: 75px;
  }
  .btn-blue-basket {
    width: 50px;
    height: 50px;
  }
  .basket-button {
    width: 16px;
    height: 16px;
  }
  .heart {
    position: absolute;
    width: 27px;
    height: 24px;
    top: 14px;
    right: 14px;
  }
  .old-price {
    font-size: 16px;
    height: 25px;
  }
  /* about */
  .box-white_content {
    margin: 11.994vh 4.267vw;
  }
  .termenal {
    width: 84vw;
    margin-left: 0;
    margin-top: -200px;
  }
  .box-blue_text {
    font-size: 36.267vw;
    margin-left: 0;
    width: 99.2vw;
    line-height: 115.6px;
    margin-top: 14px;
  }
  .main-about {
    margin-bottom: 80px;
  }

  /* advantages */
  .main-advantages {
    .main-advantages_title {
      font-size: 9.067vw;
      margin-bottom: 4vh;
    }
    .main-advantages_item {
      width: 91.467vw;
      /* height: 45.27vh; */
    }
    .advantages-item_number {
      padding-right: 5.333vw;
      margin-top: 0;
      height: 135px;
      margin-top: -20px;
      /* top: -80px; */
    }
    .item_number {
      /* width: 38.4vw; */
      height: 120px;
      font-size: 38.4vw;
      margin-left: 1vw;
      font-weight: 700;
      top: -70px;
    }
    .advantages-item_content {
      margin-top: 15px;
      /* height: 40vh; */
      width: 81.867vw;
    }
    .content_box {
      width: 53.333vw;
      gap: 5.333vw;
    }
    .content_number {
      font-size: 6.4vw;
    }
    .content_title {
      font-size: 6.4vw;
    }
    .content_text {
      font-size: 4.267vw;
      width: 69.067vw;
      height: 100%;
      margin-left: 9.4vh;
    }
    .blockchain {
      width: 14vw !important;
      position: relative;
      top: -40px;
    }
  }

  /* services */
  .main-services {
    display: grid;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .services {
    width: 100%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
  }
  .services-content_title {
    display: grid;
    gap: 2.999vh;
    padding: 0 4.267vw;
    margin-bottom: 4.798vh;
  }
  .services_title {
    font-size: 9.067vw;
  }
  .services_text {
    font-size: 3.733vw;
    width: 91.467vw;
    text-align: left;
    color: rgba(41, 41, 45, 1);
  }
  .main-services_content {
    margin: 0;
    margin-top: 4.798vh;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    margin-right: 0;
    width: 91.467vw;
  }
  .item-box {
    display: grid;
  }
  .item_title {
    width: 75.467vw;
    font-size: 5.067vw;
    margin-left: 0;
    line-height: 5.7vw;
    height: 100%;
  }
  .services-content_item {
    width: 91.467vw;
    height: 101px;
    align-items: end;
  }
  .services-content_items {
    height: 617px;
    gap: 0;
  }
  .services_numder {
    margin-bottom: -25px;
    font-size: 16.533vw;
    width: 100%;
    height: 76px;
  }
  .btn-gray {
    width: 50px;
    height: 50px;
  }
  .btn-gray-arrow {
    font-size: 6vw;
  }

  /* project */
  .main-project {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .main-about_box {
    display: grid;
  }
  .form-content_box {
    display: grid;
  }
  .main-about_box-white {
    width: 100%;
  }
  .main-about_box-blue {
    justify-items: center;
    width: 100%;
    height: 260px;
  }
  .about_box-blue {
    height: 325px !important;
  }
  .form-input {
    width: 100%;
    height: 50px;
    font-size: 3vw;
    padding: 2.099vh 0 2.099vh 4vw;
  }
  .form-input::placeholder {
    font-size: 3vw;
  }
  .form-input:focus::placeholder,
  .form-input:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .project-box_content {
    margin: 2.399vh;
  }
  .box-white_title {
    font-size: 9.067vw;
    margin-bottom: 2.999vh;
  }
  .box-white_text {
    font-size: 4.267vw;
    width: 91.467vw;
    line-height: 6vw;
  }
  .form {
    width: 100%;
  }
  .form-input_comment {
    height: 124px;
  }
  .form-control {
    border-radius: 0 !important;
    border: 2px solid rgba(28, 28, 31, 0.2) !important;
    padding: 2.099vh 0 2.099vh 4vw !important;
    font-size: 3vw !important;
    font-family: "Gilroy", sans-serif !important;
    font-weight: 500 !important;
    color: rgba(136, 140, 142, 1) !important;
  }
  .form-control:focus {
    border-color: rgba(28, 28, 31, 0.5) !important;
    color: black !important;
    outline: none;
    box-shadow: none !important;
    font-size: 0;
  }
  .form-control::placeholder {
    transition: transform 0.3s, font-size 0.3s;
  }
  .form-control:focus::placeholder,
  .form-control:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .form-agreement_button {
    display: grid;
    gap: 2.999vh;
  }
  .box-agreement_text {
    font-size: 3.467vw;
    width: 64.533vw;
    line-height: 3.5vmax;
  }
  .box-agreement {
    gap: 4.267vw;
  }
  .box-agreement input[type="checkbox"] {
    width: 26px;
    height: 26px;
  }
  .box-agreement input[type="checkbox"]:checked::before {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .equipment {
    margin-left: 0;
    margin-top: -140px;
    width: 200px;
    display: grid;
    justify-self: center;
    margin-bottom: 10px;
  }
  .box-blue_content {
    font-size: 20.571vw;
    width: 100vw;
    height: 100%;
    margin-left: 0vh;
    line-height: 18vw;
  }

  /* projects */
  .main-projects {
    .main-projects_box {
      display: grid;
      margin-bottom: 2.999vh;
      gap: 0;
    }
    .main-category_block {
      display: grid;
      margin: 0;
    }
    .main-projects_text {
      font-size: 3.733vw;
      width: 77.6vw;
      height: 60px;
      line-height: 19px;
    }
    .main-projects_text p {
      margin-top: 0;
    }
    .main-projects_white {
      width: 91.467vw;
      height: 531px;
      padding: 14px 14px 20px 14px;
      overflow: hidden;
      position: relative;
      margin-top: 40px;
    }
    .main-projects_image {
      display: grid;
      justify-content: start;
      height: 227px;
      width: 84vw;
      gap: 0;
    }
    .projects_image {
      width: 84vw;
      height: 180px;
    }
    .projects-border {
      margin-bottom: 16px;
      width: 26vw;
      height: 31px;
      padding: 0 3.733vw;
    }
    .projects-border_text {
      font-size: 3.2vw;
    }
    .projects-content_title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 0;
      height: 60px;
    }
    .projects-content_text {
      font-size: 16px;
      width: 315px;
      height: 176px;
      line-height: 22px;
    }
    .projects-content_box {
      margin-top: 14px;
    }
    .projects-content_number {
      width: 141px;
      height: 152px;
      font-size: 32.64vw;
      position: absolute;
      right: 5px;
      bottom: 10px;
    }
  }
  /* client */
  .main-client {
    margin: 80px 0;

    /* .progress-baro {
      display: flex;
      width: 100%;
      height: 0.2vh;
      background-color: rgba(28, 28, 31, 0.2) !important;
      margin-top: 3.148vh;
    }
    .progress-indicators {
      height: 0.2vh;
      background-color: rgba(19, 75, 175, 1);
      width: 32.2vw;
      transition: width 0.5s ease;
    } */
    .back {
      padding: 0 24px;
    }
    .main-client_item {
      width: 91.467vw;
      height: 314px;
    }
    .rostec {
      width: 125.77px;
    }
    .roctel {
      width: 58vw;
    }
    .mechel {
      width: 48vw;
    }
    .group {
      width: 48vw;
    }
    .roctel-small {
      width: 204px;
      height: px;
    }
    .rostec-small {
      width: 30%;
      height: 60%;
      margin-bottom: 0;
    }
    .mechel-small {
      width: 42vw;
      height: 8vh;
    }
    .group-small {
      width: 38vw;
      height: 10vh;
    }
    .text {
      font-size: 4.267vw;
    }
  }
  /* footer */
  .footer {
    margin-bottom: 15vh;
    .footer-content {
      display: grid;
      width: 91.467vw;
      margin-bottom: 0;
    }
    .footer-content_logo {
      display: grid;
      width: 48.267vw;
    }
    .footer-content_contacts {
      display: grid;
      width: 48.267vw;
    }
    .footer-content_end {
      display: grid;
      gap: 2.2vmin;
    }
    .footer-content_agreement {
      display: grid;
      gap: 2.2vmin;
      width: 91.467vw;
    }
    .logo_black {
      width: 48.8vw;
      margin-bottom: 3.2vh;
    }
    .footer-content_end {
      width: 91.467vw;
      margin-top: 0;
    }
    .footer-content_items {
      width: 48.267vw;
      height: 120px;
    }
    .footer-modal_items {
      height: 70px;
    }
    .footer-content_item {
      font-size: 4.267vw;
      height: 3.298vh;
    }
    .footer-content_contact {
      margin-bottom: 24px;
    }
    .footer-content_mail {
      font-size: 4.267vw;
      /* margin-bottom: 4vh; */
    }
    .footer-content_tel {
      font-size: 4.267vw;
    }
    .footer-content_text {
      font-size: 3.467vw;
      width: 91.467vw;
      display: grid;
      gap: 0.8vh;
    }
    .footer-content_agency {
      width: 49.067vw;
      margin-top: 2vh;
    }
    .request {
      width: 49.067vw;
      height: 100%;
    }
    .network {
      width: 48vw;
      margin-bottom: 2vh;
    }
  }
  .footer_model {
    display: none;
  }
  .footer_model-open {
    display: flex;
  }
  .model-mr {
    display: flex;
    margin-top: 20px;
  }
}
