body {
  background: rgba(230, 230, 230, 0.356) !important;
}
.container-fluid {
  margin-left: 8.333vw;
  margin-right: 16vh;
  width: 83.333vw !important;
  padding: 0 !important;
  margin: 0 auto;
}

/* project */
.main-project {
  margin: 18vh 0;
  overflow: hidden;
}
.blue-text_second {
  text-align: right;
}
.blue-text_first {
  text-align: right;
}
.main-project .box-blue_content {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
  font-size: 11.458vw;
  font-weight: 900;
  color: rgba(144, 202, 255, 0.14);
  line-height: 10vw;
  text-transform: uppercase;
  width: 58vw;
  height: 20vmax;
  text-align: right;
  margin-left: -25vw;
  margin-top: 5vh;
}
.equipment {
  width: 24vw;
  margin-left: -11vw;
  margin-top: -20vmax;
  z-index: 1;
}
.project-box_content {
  margin-top: 15vh;
  margin-left: 8.333vw;
  margin-bottom: 14.4vh;
  /* width: 30vw;
    height: 35.2vh; */
  box-sizing: border-box;
}
.box-agreement {
  display: flex;
  align-items: center;
  gap: 0.833vw;
}
.form {
  width: 40.625vw;
}
.form-agreement_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vh;
}
.form-content_box {
  display: flex;
  gap: 2.083vw;
  position: relative;
}
.form-content {
  display: grid;
  gap: 2.083vw;
}
.box-agreement_text {
  width: 13.385vw;
  font-size: 0.729vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  line-height: 1.2vmax;
  color: rgba(41, 41, 45, 1);
}
.box_button {
  display: flex;
  gap: 1.458vw;
  align-items: center;
}
/* input */
.form-input {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: rgba(136, 140, 142, 1);
  border: 2px solid rgba(28, 28, 31, 0.2);
  width: 19.167vw;
  height: 3.5vmax;
  padding: 2.2vh 1.667vw 2.2vh 1.667vw;
  transition: border-color 0.3s, color 0.3s;
  box-sizing: border-box;
  font-size: 1vw;
  position: relative;
  border-radius: 0;
}
.form-input::placeholder {
  color: rgba(136, 140, 142, 1);
  font-weight: 500;
  font-size: 1vw;
  transition: transform 0.3s, font-size 0.3s;
}
/* input-checkbox */
.checkbox-input {
  width: 26px;
  height: 26px;
  border: 2px solid rgba(28, 28, 31, 0.2);
  appearance: none;
  background-color: white;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 600ms;
  border-radius: 0;
}
.checkbox-input:hover {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:checked {
  background-color: white;
  border-color: rgba(19, 75, 175, 1);
}
.checkbox-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  font-size: 16px;
  transition: 500ms;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0,256,256' width='24px' height='24px' fill-rule='nonzero'%3e%3cg fill='%23134baf' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3e%3cg transform='scale(10.66667,10.66667)'%3e%3cpath d='M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
.checkbox-input:checked::after {
  width: 26px;
  height: 26px;
  transition: 500ms;
}
.checkbox-input:disabled {
  background: #ccc;
  border-color: #ccc;
}
.checkbox-input:disabled::after {
  filter: grayscale(100%);
}

/* input-placeholder */
.form-input:focus::placeholder,
.form-input:not(:placeholder-shown)::placeholder {
  transform: translateY(-2.3vh);
  font-size: 0.729vw;
  color: rgba(28, 28, 31, 0.5);
}
.form-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
  color: black;
  outline: none;
}
.form-control:focus::placeholder,
.form-control:not(:placeholder-shown)::placeholder {
  transform: translateY(0.3vh);
  font-size: 0.729vw;
  color: rgba(28, 28, 31, 0.5);
}

/* input-error */
.form-input.error {
  border-color: rgba(41, 41, 45, 1);
}
.error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  color: rgba(233, 29, 29, 1);
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem; /* 13px */
  margin-left: 32px;
  margin-top: 0px;
  display: none;
}
.form-input.error + .error-message {
  display: block;
}
.main-about_box-white {
  width: 65.26vw;
  height: 100%;
  /* height: 64.6vh; */
  background: rgba(255, 255, 255, 1);
}
.main-about_box {
  display: flex;
}
.box-white_title {
  font-family: "Gilroy", sans-serif;
  font-size: 3.125vw;
  font-weight: 400;
  margin-bottom: 2vmax;
  /* width: 30vw; */
}
.box-white_text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw; /* 20 */
  font-weight: 500;
  width: 29vw;
  line-height: 1.8vw;
  margin-bottom: 2vmax;
}
.main-about_box-blue {
  width: 34.792vw;
  background: rgba(19, 75, 175, 1);
  display: grid;
  justify-content: center;
}
.main-category_still {
  font-size: 0.833vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(41, 41, 45, 1);
  text-transform: uppercase;
  transition: color 0.3s;
  letter-spacing: 0.104vw;
}
.main-catalog_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 3.125vw;
  margin-bottom: 3vmax;
}
.footer_model-open {
  display: none;
}
.btn-gray {
  background: rgba(233, 233, 233, 1);
  width: 3.5vmax;
  height: 3.5vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-gray:hover {
  background: rgba(19, 75, 175, 1);
  .btn-gray-arrow {
    color: white;
  }
}
.btn-gray-arrow {
  font-size: 1.3vmax;
  color: black;
  text-decoration: none;
}

/* main - way */
.main-way {
  margin-top: 2.5vmax;
}
.main-way_links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
.main-way_square {
  width: 5px;
  height: 5px;
  background-color: black;
}
.main-link {
  text-decoration: none;
  color: rgba(41, 41, 45, 1);
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.link-active {
  color: rgba(19, 75, 175, 1);
}
/* main - catalog */
.main-catalog_content{
  display: flex;
  flex-wrap: wrap; 
  gap: 2.083vw; 
}
.main-catalog-white_box {
  color: rgba(41, 41, 45, 1);
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  width: 26.354vw;
  height: 8.646vw;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.main-catalog-white_box:hover{
  .btn-gray {
    background: rgba(19, 75, 175, 1);
    .btn-gray-arrow {
      color: white;
    }
  }
}
.catalog-image {
  width: 6.979vw;
}
.image-equipment{
  width: 6.979vw;
  height: 6vmax;
}
.catalog-link_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22.604vw;
  height: 8.646vw;
  gap: 0.833vw;
}
.catalog-title{
  width: 252px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.25vw;
}

@media (max-width: 48em) {
  .container-fluid {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .main-way {
    margin-top: 34px;
    margin-bottom: 18px;
  }
  /* project */
  .main-project {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .main-about_box {
    display: grid;
    overflow: hidden;
  }
  .form-content_box {
    display: grid;
  }
  .main-about_box-white {
    width: 100%;
  }
  .main-about_box-blue {
    justify-items: center;
    width: 100%;
    height: 34.758vmax;
  }
  .about_box-blue {
    height: 345px !important;
  }
  .form-input {
    width: 100%;
    height: 50px;
    font-size: 3vw;
    padding: 2.099vh 0 2.099vh 4vw;
    border-radius: 0;
  }
  .form-input::placeholder {
    font-size: 3vw;
  }
  .form-input:focus::placeholder,
  .form-input:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .project-box_content {
    margin: 2.399vh 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
  }
  .box-white_title {
    font-size: 9.067vw;
    margin-bottom: 2.999vh;
    line-height: normal;
  }
  .box-white_text {
    font-size: 4.267vw;
    width: 91.467vw;
    line-height: 6vw;
  }
  .form {
    width: 100%;
  }
  .form-input_comment {
    height: 124px;
  }
  .form-control {
    border-radius: 0 !important;
    border: 2px solid rgba(28, 28, 31, 0.2) !important;
    padding: 2.099vh 0 2.099vh 4vw !important;
    font-size: 3vw !important;
    font-family: "Gilroy", sans-serif !important;
    font-weight: 500 !important;
    color: rgba(136, 140, 142, 1) !important;
    width: 91.467vw !important;
  }
  .form-control:focus {
    border-color: rgba(28, 28, 31, 0.5) !important;
    color: black !important;
    outline: none;
    box-shadow: none !important;
    font-size: 0;
  }
  .form-control::placeholder {
    color: rgba(136, 140, 142, 1) !important;
    transition: transform 0.3s, font-size 0.3s;
  }
  .form-control:focus::placeholder,
  .form-control:not(:placeholder-shown)::placeholder {
    font-size: 0;
  }
  .form-agreement_button {
    display: grid;
    gap: 2.999vh;
  }
  .box-agreement_text {
    font-size: 3.467vw;
    width: 64.533vw;
    line-height: normal;
  }
  .box-agreement {
    gap: 4.267vw;
  }
  .box-agreement input[type="checkbox"] {
    width: 26px;
    height: 26px;
  }
  .box-agreement input[type="checkbox"]:checked::before {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .equipment {
    margin-left: 0;
    margin-top: -21vmax;
    width: 200px;
    display: grid;
    justify-self: center;
    margin-bottom: 10px;
  }
  .main-project .box-blue_content {
    font-size: 20.571vw;
    width: 100vw;
    height: 100%;
    margin-left: 0vh;
    line-height: 18vw;
  }
  .main-specialoffers {
    margin-bottom: 80px;
  }
  .checkbox-input {
    width: 26px;
    height: 26px;
  }
  .checkbox-input:checked::after {
    width: 26px;
    height: 26px;
  }
 
  .main-category_button {
    gap: 16px;
    height: 50px;
    text-decoration: none;
  }
  .btn-blue {
    width: 50px !important;
    height: 50px !important;
  }
  .btn-arrow {
    font-size: 7vw !important;
    width: 5.2vw;
  }
  .main-catalog_title {
    font-size: 9.067vw;
    margin-bottom: 40px;
  }
  .footer_model {
    display: none;
  }
  .footer_model-open {
    display: flex;
  }

  /* каталог */
  .main-catalog_content{
    gap: 3vw;
    justify-content: space-between;
  }
  .main-catalog-white_box{
    width: 12.745vmax;
    height: 11.409vh;
  }
  .catalog-link_block{
    width: 12.745vmax;
    height: 11.409vh;
    display: grid;
    justify-content: center;
  }
  .catalog-title{
    width: 100%;
    text-align: center;
    font-size: 1.523vw;
    font-weight: 400;
  }
  .catalog-image{
    width: 100%;
    height: 8.443vh;
    display: grid;
    justify-content: center;
  }
  .image-equipment{
    object-fit:contain;
    scale: crop;
    width: 100%;
    height: 90%;
  }
}
