body {
  background: rgba(230, 230, 230, 0.356) !important;
}
.main-product {
  margin-top: 4vmax;
}
.main-product_description {
  margin-top: 18vh;
}
.product-content_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
.product-content_image {
  width: 40.625vw;
  height: 100%;
  object-fit: cover;
}
.block-new {
  position: relative;
}
.main-product_content {
  height: 100%;
  display: flex;
  gap: 2.083vw;
}
.product-content_info {
  width: 40.625vw;
}
.content_title {
  font-size: 1.667vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}
.content_article {
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: rgba(136, 140, 142, 1);
  margin-top: 10px;
}
.text-box {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 17px;
  margin-top: 24px;
}
.content-specifications_block {
  display: flex;
  align-items: start;
  gap: 18px;
}
.block-gray {
  /* height: 49px; */
  width: auto !important;
  background: rgba(233, 233, 233, 1);
  padding: 1vh 1.25vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgba(41, 41, 45, 1);
}
.product-content_specifications {
  display: grid;
  gap: 24px;
}
.box-new {
  border: 2px solid rgba(19, 175, 72, 1);
  width: 4.531vw;
  height: 1.719vw;
  padding: 2.8px 0.833vw;
  color: rgba(19, 175, 72, 1);
  font-weight: 600;
  font-size: 0.729vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.667vw;
  left: 1.667vw;
}
.btn-gray {
  background: rgba(233, 233, 233, 1);
  width: 3.5vmax;
  height: 3.5vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: sticky !important;
}
.btn-gray:hover {
  background: rgba(188, 188, 188, 0.493);
}
.heart {
  margin-top: 3px;
  width: 1.3vw;
  height: 1.2vw;
  background-size: cover;
  cursor: pointer;
}

.points_item {
  color: rgba(136, 140, 142, 1);
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}
.blue-block {
  width: 8px;
  height: 8px;
  background-color: rgba(136, 140, 142, 1);
  margin-top: 3px;
}
.content-block_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  gap: 16px;
  max-height: 300px;
  overflow: hidden;
  /* width: 31.25vw; */
}
.content-block_title {
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}
.product-price {
  margin-top: 4vh;
}
.none {
  display: none;
}
.product-price_title {
  font-size: 1.667vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  margin-bottom: 2vh;
}
.product-price_block {
  display: flex;
  gap: 60px;
}
.product-content_quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 9.844vw;
  height: 7.1vh; */
  border: 2px solid rgba(28, 28, 31, 0.2);
}
.minus,
.plus {
  border: none;
  width: 4vw;
  height: 100%;
  background: none;
  font-size: 1.25vw;
}
.quantity {
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  width: 20px;
  text-align: center;
}
.description-button {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
}
.content-box {
  display: none;
}
.content-box.active-block {
  display: block;
}
.swiper-slide {
  width: 100%;
  height: 73px;
  border: 2px solid rgba(19, 75, 175, 1);
  font-family: "Gilroy", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
  flex-shrink: 1;
}

.main-product_description .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.swiper-slide.active-btn {
  background: rgba(19, 75, 175, 1);
  color: white !important;
}
.product-description_block {
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
}
.description-block_content {
  width: 47.76vw;
  /* height: 100%; */
}
.content-box-block {
  width: 47.76vw !important;
}
.content-box {
  width: 40.625vw;
}
.description-block_banner {
  width: 33.49vw;
  height: 23.906vw;
}
.block-banner_blue {
  width: 33.49vw;
  /* height: 140px; */
  background: rgba(19, 75, 175, 1);
  padding: 2.083vw;
}
.banner-blue_title {
  font-size: 1.667vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  line-height: 3vh;
  color: white;
}
.content-description_text-weigth {
  font-size: 1.667vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}
.block-banner_white {
  width: 33.49vw;
  /* height: 26.7vh; */
  background: rgba(255, 255, 255, 1);
  padding: 2.083vw;
}
.main-catalog_title {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 3vmax;
  margin-top: 0.5vmax;
  color: rgba(41, 41, 45, 1);
}
.block-banner_white {
  display: flex;
  gap: 1.302vw;
}
.banner-image {
  width: 12.448vw;
  margin-top: -80px;
  object-fit: contain;
}
.white-contetn_text {
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  line-height: normal;
  width: 14.688vw;
  margin-bottom: 4vh;
}
.content-description_text {
  width: 100%;
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 3.2vh;
}
.router-image {
  width: 100%;
}
.router-text {
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  margin-top: 1.2vh;
}
.table {
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
  background: none !important;
  margin-top: 3.2vh;
  margin-bottom: 6vh !important;
}
.table-title {
  width: 14.219vw;
  padding: 12px 24px !important;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  background: none !important;
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
}
.table-block_title {
  width: 14.219vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  padding: 12px 24px !important;
  background: white;
  font-size: 1.042vw;
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
  color: rgba(41, 41, 45, 1);
}
.image-cer {
  width: 88px;
  height: 90px;
}
.table-title_weight {
  width: 12.188vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  padding: 12px 24px !important;
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
  color: rgba(41, 41, 45, 1);
  background: none !important;
  font-size: 1.042vw;
  line-height: 28px;
}
.table-block_desc {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
  padding: 12px 24px !important;
  background: white;
  font-size: 20px;
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
}
.table-block_general {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  color: rgba(41, 41, 45, 1);
  padding: 12px 24px !important;
  background: none !important;
}
.table-general {
  text-align: center;
  background: none !important;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  /* border: 2px solid rgba(28, 28, 31, 0.2) !important; */
}
.table-text {
  padding: 12px 24px !important;
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-weight: 25px;
  background: none !important;
  border: 2px solid rgba(28, 28, 31, 0.2) !important;
}
.router-numder_circle {
  border: 2px solid rgba(41, 41, 45, 1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0 6px;
}
.router-block {
  gap: 16px;
  display: grid;
  grid-row: auto;
  margin-top: 32px;
  margin-bottom: 60px;
}
.router-numder {
  display: flex;
  gap: 10px;
  font-size: 0.938vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  width: 345px;
}
.router-block_numder {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;
  gap: 0.833vw;
  margin-top: 32px;
}
.content-certificate {
  margin-top: 60px;
  margin-bottom: 18vh;
}
.content-certificate_title {
  font-size: 32px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  margin-bottom: 32px;
}
.content-certificate_image {
  display: flex;
  gap: 32px;
}
.grid-none {
  display: grid;
}
.grid-vit {
  display: none;
}

.main-products_item {
  width: 14.219vw;
  height: 20.2vmax;
  background-color: white;
  padding: 1.146vw 0 0 1.146vw;
  position: relative;
  display: grid;
  justify-content: space-between;
  align-items: start;
}
.sales-item_text {
  font-family: "Gilroy", sans-serif;
  font-size: 0.938vw;
  font-weight: 400;
  font-style: normal;
  width: 11vw;
  height: 5vmax;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  line-clamp: 3 !important;
  box-orient: vertical !important;
  text-decoration: none;
  color: rgba(41, 41, 45, 1);
}
.position {
  position: absolute;
  bottom: 0;
  right: 0;
}
.basket-button {
  width: 1.2vmax;
  height: 1.2vmax;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-blue-basket {
  background: rgba(19, 75, 175, 1);
  border: 2px solid rgba(19, 75, 175, 1);
  width: 6.5vmax;
  height: 3.5vmax;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn-blue-basket.active {
  background-color: white;
  border: 2px solid rgba(19, 75, 175, 1);
}
.btn-blue:disabled {
  background: rgba(233, 233, 233, 1);
  cursor: not-allowed;
  pointer-events: none;
}
.btn-blue:disabled:hover {
  background: rgba(233, 233, 233, 1);
}
.sales {
  width: 100%;
  height: 9vw;
  object-fit: contain;
  padding-right: 1.146vw;
}
.products-item_bottom {
  display: flex;
  align-items: center;
  /* gap: 0.833vw;  */
  height: 3.385vw;
  justify-content: space-between;
}
.sales-price {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.price {
  width: 100%;
  height: 100%;
  font-family: "Gilroy", sans-serif;
  font-size: 1.1vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
  display: grid;
  align-items: center;
}
.heart-block {
  display: flex;
  margin-right: 0.8vw;
}
.heart {
  width: 1.42vw;
  height: 1.26vw;
  background-size: cover;
  cursor: pointer;
}

.modal {
  z-index: 2;
  height: 100vw;
  width: 100vh;
  border: 1px solid #ddd;
  padding: 20px;
  background: rgba(41, 41, 45, 0.2);
  backdrop-filter: blur(20px);
}
.modal-block {
  z-index: 3;
  width: 53.125vw;
  /* height: 68vh; */
  background-color: #fff;
  padding: 20px;
  /* display: none; */
  background: white;
  backdrop-filter: blur(20px);
  position: relative;
  margin: 10vh auto;
  padding: 4.25vmax 5.208vw 4.25vmax 6.25vw;
  display: grid;
  gap: 7vh;
}
.modal-block .close-btn {
  position: absolute;
  border: none;
  background: none;
  top: 14px;
  right: 14px;
  width: 25px;
  height: 25px;
}
.thank-you-block {
  z-index: 3;
  width: 53.125vw;
  height: 68vh;
  background-color: #fff;
  padding: 20px;
  display: none;
  background: white;
  backdrop-filter: blur(20px);
  position: relative;
  margin: 10vh auto;
  padding: 6.25vw 2vw 6.25vw 20vw;
  gap: 7vh;
}
.modal-block_content {
  margin-bottom: 2vmax;
}
.blue-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2vw;
  height: 100%;
  background-color: rgba(19, 75, 175, 1);
}
.thank-blue_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.146vw;
  height: 100%;
  background-color: rgba(19, 75, 175, 1);
}
.blue-text_second {
  z-index: 3;
  text-align: right;
}
.blue-text_first {
  z-index: 0;
  text-align: right;
}
.thank-box .box-blue_content {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
  font-size: 8.375vw;
  font-weight: 900;
  color: rgba(144, 202, 255, 0.14);
  line-height: 8vw;
  text-transform: uppercase;
  width: 46vw;
  height: 12vmax;
  text-align: right;
  margin-left: -2vw;
  /* margin-top: 5vh; */
}
.thank-block_content {
  display: grid;
  justify-content: right;
  width: 45.125vw;
}
.thank-box_text {
  display: grid;
  justify-content: right;
  width: 42vw;
}
.thank-block_title {
  font-size: 3.125vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  margin-bottom: 2vmax;
}
.thank-block_text {
  width: 17.813vw;
  line-height: normal;
  font-size: 1.042vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  margin-bottom: 2vmax;
}
.modal.active-mod {
  display: block;
}
.thank-you-block.active-mod {
  display: block;
}
.main-category_button {
  border: none;
  background: none;
  padding: 0;
}
/* .close-btn {
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 1.667vw;
  right: 2.3vh;
  width: 2.5vw;
  height: 4vh;
} */
.modal-block_title {
  font-family: "Gilroy", sans-serif;
  font-size: 1.667vw;
  font-weight: 600;
  color: rgba(41, 41, 45, 1);
}
.modal-block_text {
  font-family: "Gilroy", sans-serif;
  font-size: 1.042vw;
  font-weight: 500;
  color: rgba(41, 41, 45, 1);
  width: 22.344vw;
  margin-top: 3vh;
}
.form {
  width: 40.625vw;
}
.box-agreement {
  display: flex;
  align-items: center;
  gap: 16px;
}
.form-agreement_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vh;
}
.form-content_box {
  display: flex;
  gap: 2.083vw;
  position: relative;
}
.form-content {
  display: grid;
  gap: 2.083vw;
}
.box-agreement_text {
  width: 13.385vw;
  font-size: 0.7vw;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  line-height: 1.2vmax;
  color: rgba(41, 41, 45, 1);
}
.box_button {
  display: flex;
  gap: 1.458vw;
  align-items: center;
}

/* input */
.form-input {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: rgba(136, 140, 142, 1);
  border: 2px solid rgba(28, 28, 31, 0.2);
  width: 19.167vw;
  height: 3.5vmax;
  padding: 2.2vh 1.667vw 2.2vh 1.667vw;
  transition: border-color 0.3s, color 0.3s;
  box-sizing: border-box;
  font-size: 1vw;
  position: relative;
  border-radius: 0;
}
.form-input::placeholder {
  color: rgba(136, 140, 142, 1);
  font-weight: 500;
  font-size: 1vw;
  transition: transform 0.3s, font-size 0.3s;
}

/* input-checkbox */
.checkbox-input {
  width: 26px;
  height: 26px;
  border: 2px solid rgba(28, 28, 31, 0.2);
  appearance: none;
  background-color: white;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 600ms;
  border-radius: 0;
}
.checkbox-input:hover {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
}
.checkbox-input:checked {
  background-color: white;
  border-color: rgba(19, 75, 175, 1);
}
.checkbox-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  font-size: 16px;
  transition: 500ms;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0,256,256' width='24px' height='24px' fill-rule='nonzero'%3e%3cg fill='%23134baf' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3e%3cg transform='scale(10.66667,10.66667)'%3e%3cpath d='M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
.checkbox-input:checked::after {
  width: 26px;
  height: 26px;
  transition: 500ms;
}
.checkbox-input:disabled {
  background: #ccc;
  border-color: #ccc;
}
.checkbox-input:disabled::after {
  filter: grayscale(100%);
}

/* input-placeholder */
.form-input:focus::placeholder,
.form-input:not(:placeholder-shown)::placeholder {
  transform: translateY(-1.8vh);
  font-size: 0.729vw;
  color: rgba(28, 28, 31, 0.5);
}
.form-input:focus {
  border-color: rgba(28, 28, 31, 0.5);
  color: black;
  outline: none;
}
.form-control:focus::placeholder,
.form-control:not(:placeholder-shown)::placeholder {
  transform: translateY(0.3vh);
  font-size: 0.729vw;
  color: rgba(28, 28, 31, 0.5);
}
.flex-vit {
  display: none;
}

@media (max-width: 48em) {
  .main-product_description {
    margin: 80px 0;
  }
  .swiper {
    z-index: 0;
  }

  .main-product_description .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .swiper-slide {
    width: auto;
    height: 55px;
    font-size: 19px;
    padding: 0 20px;
    white-space: nowrap;
    flex: 0 0 auto;
  }
  .swiper-slide:nth-child(1n) {
    width: auto;
  }
  .swiper-slide:nth-child(2n) {
    width: auto;
  }
  .swiper-slide:nth-child(3n) {
    width: auto;
  }
  .swiper-slide:nth-child(4n) {
    width: auto;
  }
  .description-block_content {
    width: 91.467vw;
  }
  .description-block_banner {
    width: 91.467vw;
  }
  .content-box {
    width: 91.467vw;
  }
  .content-box.active-block {
    overflow-x: auto;
    width: 100% !important;
    flex-wrap: nowrap;
  }
  .table {
    width: 100%;
    flex-wrap: nowrap;
  }
  .product-description_block {
    display: grid;
  }
  .content-certificate_image {
    flex-wrap: wrap;
    gap: 54px;
  }
  .image-cer {
    width: 77px;
    height: 79px;
  }
  .main-banner {
    margin: 0 0 80px 0;
  }

  .main-banner_blue {
    display: grid;
    width: 91.467vw;
    height: 100%;
    padding: 20px 17px;
    justify-items: center;
    background-color: rgba(19, 75, 175, 1);
  }
  .banner_titel {
    font-family: "Gilroy", sans-serif;
    font-size: 19px;
    width: 100%;
    line-height: 22.8px;
    margin-bottom: 24px;
    color: white;
  }
  .banner_text {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    width: 100%;
    color: white;
  }
  .banner_text {
    font-size: 14px;
    width: 99%;
  }
  .banner_iamge {
    width: 81%;
    height: 100%;
  }
  .main-banner_white {
    height: 90px;
    width: 91.467vw;
    justify-content: left;
    padding: 20px 16px;
    background: white;
  }
  .main-category_still {
    font-family: "Gilroy", sans-serif;
    font-size: 3.5vw;
  }
  .main-category_button {
    gap: 16px;
  }
  .content-certificate {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .content-certificate_title {
    font-size: 24px;
  }

  .product-content_specifications {
    margin-top: 1vh;
  }
  .content-block_text {
    width: 91vw;
    font-size: 14px;
    gap: 10px;
  }
  .content-block_title {
    font-size: 16px;
    width: 25vw;
  }
  .main-catalog_title {
    font-size: 34px;
    margin-bottom: 40px;
  }
  .router-block_numder {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 18px;
  }
  .router-numder {
    font-size: 14px;
    width: 291px;
  }
  .content-description_text {
    font-size: 16px;
    width: 91vw;
  }
  .table-block_title {
    font-size: 20px;
  }
  .table-block_general {
    font-size: 19px;
  }

  .table-text {
    font-size: 14px;
  }
  .main-products_items {
    gap: 2.667vw !important;
    width: 91.467vw !important;
  }
  .main-products_item {
    width: 44.35vw !important;
    height: 100% !important;
    padding: 12px !important;
    gap: 1vh;
  }

  .sales-item_text {
    order: 2;
    font-size: 12px;
    width: 100% !important;
    height: 55px !important;
  }
  .sales {
    order: 1;
    width: 35vw;
    /* width: 143px; */
    height: 10vh;
    object-fit: cover;
    padding: 0;
  }
  .sales-price {
    order: 1;
    width: 100%;
    height: 100%;
  }
  .btn-blue-basket {
    order: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .basket-button {
    width: 18px;
    height: 18px;
  }
  .btn-blue {
    width: 50px;
    height: 50px;
  }
  .btn-arrow {
    width: 5.2vw;
    font-size: 18px;
  }
  .products-item_bottom {
    order: 3;
    height: auto;
  }
  .price {
    width: 100%;
    height: 35px;
    font-size: 16px;
  }
  .heart {
    width: 20px;
    height: 18px;
  }
  .heart-block {
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .table-title_weight {
    font-size: 20px;
  }
  .table-general {
    font-size: 14px;
  }
  .block-new {
    width: 91vw;
  }
  .main-product_content {
    width: 91vw;
    display: grid;
    height: 100%;
  }
  .content-specifications_block {
    display: grid;
  }
  .box-new {
    width: 80px;
    height: 31px;
    display: grid;
    align-items: center;
    top: 14px;
    left: 14px;
    font-size: 12px;
  }
  .product-content_title {
    margin-bottom: 4vh;
    align-items: end;
  }
  .btn-gray {
    width: 40px;
    height: 40px;
  }
  .heart {
    width: 16px;
    height: 14px;
  }
  .product-content_image {
    width: 91vw;
    height: 90%;
    object-fit: cover;
  }
  .product-content_info {
    width: 91vw;
  }
  .scroll-price {
    z-index: 1;
    padding: 28px 16px;
    width: 100vw;
    height: 86px;
    background: white;
    bottom: 0;
    position: fixed;
    display: flex !important;
    justify-content: space-between;
  }
  .content-description_text-weigth {
    font-size: 18px;
    width: 91vw;
  }
  .product-price_title {
    /* width: 99px; */
    height: 30px;
    font-size: 24px;
  }
  .content_title {
    font-size: 24px;
  }
  .content_article {
    font-size: 14px;
  }
  /* modal */
  .blue-element {
    display: none;
  }
  .modal {
    padding: 0;
  }
  .modal-block {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    padding: 16px;
    gap: 0;
  }
  .thank-you-block {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 16px;
  }
  .thank-block_content {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  .thank-blue_element {
    position: absolute;
    top: 60%;
    right: 0;
    width: 100%;
    height: 39.867vh;
  }
  .thank-box_text {
    display: grid;
    align-self: end;
    justify-content: center;
    width: 100%;
  }
  .thank-box {
    display: grid;
    align-items: center;
    height: 100%;
  }
  .thank-block_title {
    font-size: 7.427vw;
    line-height: normal;
  }
  .thank-block_text {
    font-size: 3.083vw;
    width: 61vw;
  }
  .blue-text_second {
    height: 100%;
    z-index: 3;
    text-align: right;
  }
  .blue-text_first {
    height: 100%;
    z-index: 0;
    text-align: right;
  }
  .thank-box .box-blue_content {
    font-size: 15.813vw;
    width: 100%;
    height: 134px;
    text-align: right;
    margin-left: -0vw;
    margin-top: 50px;
    line-height: 10vh;
  }
  .modal-block_content {
    display: grid;
    align-self: end;
    height: 130px;
  }
  .modal-block_title {
    font-size: 24px;
    line-height: 30px;
  }
  .modal-block_text {
    font-size: 16px;
    line-height: 22px;
    width: 91vw;
  }
  .form-content_box {
    display: grid;
  }
  .form {
    width: 100%;
    margin-top: 40px;
  }
  .form-input {
    width: 100%;
    height: 50px;
    padding: 16px 20px;
    font-size: 14px;
  }
  .form-input::placeholder {
    font-size: 14px;
  }
  .form-input:focus::placeholder,
  .form-input:not(:placeholder-shown)::placeholder {
    font-size: 1.4vw;
    transform: translateY(-1.3vh);
  }
  .form-agreement_button {
    display: grid;
    gap: 20px;
  }
  .box-agreement_text {
    font-size: 13px;
    width: 242px;
    line-height: 18.2px;
  }
  .close-btn {
    top: 24px;
    right: 16px;
    width: 20px;
  }

  .grid-none {
    display: none;
  }
  .grid-vit {
    display: grid;
  }
  .flex-vit {
    display: flex;
  }
  .footer_model {
    display: none;
  }
}
